<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- Console Appender -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<!-- <pattern>%date %.-3level %-25X{traceId} %-25logger{0} %msg%n</pattern> -->
			<!-- [%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n -->
			<pattern>[%level] - %date - %logger#%line %msg%n</pattern>
		</encoder>
	</appender>

	<!-- <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender"> 
		<Encoding>UTF-8</Encoding> <File>/home/test.log</File> <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
		<FileNamePattern>/home/test-%d{yyyy-MM-dd}.log </FileNamePattern> <MaxHistory>10</MaxHistory> 
		<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP"> 
		<MaxFileSize>5MB</MaxFileSize> </TimeBasedFileNamingAndTriggeringPolicy> 
		</rollingPolicy> <layout class="ch.qos.logback.classic.PatternLayout"> <pattern>[%-5level] 
		%d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n </pattern> </layout> </appender> -->

	<!-- Per Package Config -->

	<!-- Root Logger -->
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
